@media (max-width:1300px) {
    .fixed-width {
        width: 100%;
        margin: auto;
        padding: 0 20px;
        box-sizing: border-box;
    }
    .header-left h1 {
        font-size: 30px;
    }
}
span.toggol-menu{
    display: none;
}
.toggol-check{
    display: none;
}

@media (max-width:1100px) {
    .header-left h1 {
        font-size: 20px;
    }
    span.toggol-menu{
        position: absolute;
        right: 30px;
        top: 19px;
        color: white;
        font-size: 35px;
        pointer-events: none;
        display: block;
    }
    .toggol-check{
        position: absolute;
        right: 30px;
        top: 19px;
        width: 35px;
        height: 35px;
        opacity: 0;
        display: block;
    }
    .toggol-check:checked ~ ul{
       visibility: visible;
       opacity: 1;
       height: 100%;
    }

    .header-right ul {
        margin-top: 60px;
        visibility: hidden;
        opacity: 0;
        height: 0;
    }
    .header-right ul li {
        display: block;
    }
    .header-right ul li a {
        padding: 20px;
        line-height: 5px;
    }
    
}
@media (max-width:992px) {
    .banner {
        padding: 150px 0;
        
    }
}
    /* 768-start */

@media (max-width:768px) {
    .banner {
        padding: 115px 0;
        
    }
    .banner h1 {
        font-size: 35px;
    }
    .banner p {
        font-size: 15px;
        margin-bottom: 5px;
    }
    .service-icon {
        width: 50%;
        margin-bottom: 0;
    }
    .contact-icon {
        width: 100%;
        margin: 0;
        margin-left: 0;
    }
}
@media (max-width:576px) {
    .service-icon {
        width: 100%;
        margin-bottom: 0;
    }
}